@using System.Net;
@using ToolsLayer.Http;
@{
    ViewData["Title"] = "Üyelik onaylama";
}
<span class="description">Merhabalar, şifrenizi değiştirmek için <a href="@(Context.GetOriginUrl()+"/ForgotPasswordConfirm/"+WebUtility.UrlEncode( ViewData["userId"].ToString())+"/"+WebUtility.UrlEncode( ViewData["token"].ToString()))">bu linke tıklayınız</a></span>