@import './css/base.css';
@import './css/tabs.css';
@import './css/nestedanimation.css';
@import './css/identityform.css';
/* main.css */
.font_roboto_mono{
  font-family:Roboto Mono; 
}

.theme_bg {
  background: var(--sixth-color);
}

.theme_bg_2 {
  background: var(--first-color);
}
.theme_bg_3{
  background-color: #f5f5f5;
}

.smooth_shadow {
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.15);
}

.odd_even_list{
  list-style-type: none;
  padding: 0;
}
.odd_even_list li{
  padding: 5px;
  padding-left: 10px;
  display: flex;
}
.odd_even_list li:nth-child(odd){
  background-color: whitesmoke;
}
.odd_even_list li span{
  width: 50%;
}

.logo {
  color: var(--first-color);
  font-family: var(--logo-font);
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}

.logo_white {
  color: var(--white-color);
  font-family: var(--logo-font);
  font-size: 50px;
  font-style: normal;
  line-height: normal;
}
.cart_counter {
  display: flex;
  margin-right: 5px;
}

.cart_counter>button {
  aspect-ratio: 1;
  border-radius: 0;
}
.cart_counter>button:first-child{
  border-right: 0;
}
.cart_counter>button:last-child{
  border-left: 0;
}
.cart_counter>input {
  width: 46px;
  text-align: center;
  outline-color: unset;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.divider_line{
  position: relative;
height: 6px;
}
.divider_line:after, .divider_line:before{
      content: '';
position: absolute;
    width: 20px;
height: 2px;
background-color: #222;
}
.divider_line:before{
top: 0;
left: calc(50% - 5px);
}
.divider_line:after{
top: 4px;
right: calc(50% - 5px);
}