/* identityform.css */
.identity_form_buttons {
    display: flex;
    gap: 15px;
}

.identity_form_buttons>* {
    flex-grow: 1;
    padding: 14px;
}

.identity_form_mobile_background {
    display: none;
}

.identity_image_section>img {
    height: 100%;
    object-fit: cover;
}

@media (max-width:992px) {
    .identity_form_mobile_background {
        display: initial;
        position: absolute;
        filter: blur(2px);
        height: 100%;
        width: 100%;
        opacity: 0.4;
    }

    .identity_image_section {
        display: none;
    }

    .identity_form_inner {
        background-color: rgb(255, 255, 255, .6);
        height: 100%;
        position: relative;
    }

    .identity_form_buttons {
        flex-direction: column;
    }
}